
.container{
  border-radius: 5px;
  background-color: whitesmoke;
  margin-bottom: 15px;
  h1{
   border-radius: 5px;
   text-align: center;
   margin-bottom: 20px;
   font-size: 1rem;
   color: $color-primary;
   justify-content: center;
   background-color: $color-principal;}
  nav{
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    background-color: whitesmoke;
    margin-bottom: 20px;
    color:black;
    @include mobile{
      background-color: #035A06;
    }
  button{
    display: none;}
  i{
    font-size: 2rem;
    cursor: pointer;
  :hover buy-card{
    width: 400px;
    height: 400px;
    position: absolute;
    background-color: yellowgreen;
    margin: 0 10px 0 10px;
    right: 0;
    grid-template-columns: repeat(auto-fit, minmax(280px,280px));
  
    @include mobile{
      width: 50%;
    }
    .lista_de_productos{
        display: flex;
        flex-direction: row;
    }
    button{
      font-size: small;
        display: block;
          width: 80%;
         padding: 1rem;
         margin: 10px auto;
         background-color: transparent;
         border: solid thin whitesmoke;
         color: $color-primary;
         cursor: pointer;
:hover{
    border: solid thin navy;
    transition: all thin .4s;
}
 }
}
    :hover nav-card{ 
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  border-bottom: solid thin #e1e1e1;
  }
  
  }}}