

header{
    background-color:#035A06;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px; 
}
    nav{
        padding: 2rem;
        width: 50%;
        border: none;
        outline: none;
        color: #FFFFFF;
        font-size: 1.1rem;
        margin-bottom: 5px;
        border-radius: 5px;
        font-family: "Noto Serif", serif;
    }
  
section{
    h1{
    font-size: 1rem;
    font-family: "Noto Serif", serif;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #035A06;
    color: #FFFFFF;
    text-align: center;}
  nav{
    ul{
        li{
            font-size: 1rem;
            font-family: "Noto Serif", serif;
            list-style: none;
            background-color: #035A06;
            color: #FFFFFF;
            text-align: center;
            border-radius: 5px;
        }
    }   
  }
}
main{
    h1{
        font-family: "Noto Serif", serif;
        margin-bottom: 100px -70px;
      border-radius: 5px;
      background-color: #035A06;
      color: #FFFFFF;
       text-align: center;}
     nav{
      ul{
        li{
            font-family: "Noto Serif", serif;
            border-radius: 5px;
       list-style: none;
       color: #FFFFFF;
       background-color:#035A06; 
       text-align: center;

        }
    }
  }
}

div{
    img{
        align-content: center;
        border-radius: 5px;
        width: 90%;
        height: 50%;}
        iframe{
            margin-bottom: 15px;
 }
}

img{
    align-content: left;
}

footer{
    font-family: "Noto Serif", serif;
    border-radius: 5px;
    background-color:#035A06;
    color:#FFFFFF;
    text-align: center;
}