$breakpoints: (
  mobile: 800px,
  tablet: 1023px,
  desktop: 1280px,

);
  
    
  
  @mixin desktop {
    @media screen and (max-width: 1280px) {
              @content;
          }
  }
  @mixin tablet {
    @media screen and (max-width: 1023px) {
              @content;
          }
  }
  @mixin mobile {
    @media screen and (max-width: 800px) {
              @content;
          }
  }
 




